.header img{
  width: 100%;
  height: auto;
 
}
.section-1{
  
 display:flex;
 flex-wrap: wrap;
 background-color: rgb(228, 204, 204);
}
.section-1 img{
border-radius: 12px 124px 0px;
padding-left: 30px;
height: 218px;
width: 320px;
}
.sub-1{
 margin: 10px;
 padding-left: 100px;
}
.section-2{
  
  display:flex;
  flex-wrap: wrap;
  background-color: rgba(202, 241, 238, 0.637);
  padding-left: 10%;
  padding-top: 7pc;
 }
.icon{

  
  height: 220px;
  width: 303px;
  text-align: center;
}
.icon img{
  height:170px;
  width:255px;

}
.media{
  display:flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  height:300px;
  width:auto;
}
.media img{
  
  height:45px;
  width: 50px;
  margin:10px;
  margin-top: 15pc;
}
.foot{
  background-color: rgb(238, 162, 162);
}
.contact{
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5pc;
  background-color: rgba(175, 170, 170, 0.199);
}
.fromInfo{
  margin: 15px;
  width: 400px;
}
.written{
  width: 400px;
  background-color: rgba(177, 165, 165, 0.192);
  margin: 15px;
}
.chead{
  display: block;
  width: 20%;
  margin: auto;
  

}
.abody{
  background-color: rgba(177, 174, 174, 0.493);
  display: flex;
  justify-content: center;
  margin-top:5pc ;

  
}
.contain{
  width: 500px;
  border: 3px solid pink;
  margin: 10px;
  padding-left: 10px;
  border-radius: 10px;
}
.Pwrite{
  width: 190px;
}
.pay{
   margin-top: 7pc;
}